h1{
  color: rgba(89, 33, 33, 1);
  border: 1px solid black;
  margin:0;
  padding:20px;
  font-size:45px;
  text-align: center;
}
#active{
color: rgba(89, 33, 33, 1);
}
saw{
color: gray;
}
a{
color:gray;
text-decoration: none;
}
h3{
text-align: left;
border-top: 2px solid gray;
border-top: 2px solid gray;
margin:0px;
padding:10px;
}
ol{
  border-right:1px solid black;
  width: 100px;
  margin:0;
  padding: 20px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
